@import 'tailwindcss';

:root {
    --background: #ffffff;
    --text-color: #000;
}

@theme {
    --font-roboto: var(--font-roboto);
    --font-instrument-serif: var(--font-instrument-serif);

    --color-primary-bg: #fefcf9; /* Vit med lite värme */
    --color-secondary-bg: #ebe5e0; /* mycket ljus beige — bakgrund */

    --color-btn: #704f44; /* buttons */
    --color-btn-hover: #8d726a; /* button hover state */

    --color-card: #f6f4f2;
    --color-icon: #998179;

    /* Test färger */
    --color-text: #2b2b27; /* mörk brun — huvudtext */
    --color-muted: #7a6f63; /* mellanbrun — sekundär text */
    --color-primary: #c96f4e; /* terracotta — primär accent, knappar */
    --color-accent: #a6c18a; /* matcha/mjuk grön — accent, success */
    --color-warm: #e5b17a; /* ljus varm gul/brun — highlight, badges */
    --color-danger: #d0483e; /* varm röd — fel/varning */
    --glass: rgba(255, 255, 255, 0.6); /* translucent overlay / glass */
}

.fancy-font {
    font-family: var(--font-instrument-serif), serif;
}

body {
    background: var(--color-primary-bg);
    font-family: var(--font-roboto), sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
