@import 'tailwindcss';

:root {
    --background: #ffffff;
    --text-color: #000;
    --btn-primary: orange;
}

@theme {
    --color-primary-bg: white;
    --color-primary: #2563eb;
    --color-secondary: #fbbf24;
    --color-btn-primary: orange;

    /* Test färger */
    --color-secondary-bg: #eae4df; /* mycket ljus beige — bakgrund */
    --color-secondary: #eae4df; /* ljus varm kort — bg ekker kort, paneler */
    --color-btn: #704f44; /* buttons */

    --color-text: #2b2b27; /* mörk brun — huvudtext */
    --color-muted: #7a6f63; /* mellanbrun — sekundär text */
    --color-primary: #c96f4e; /* terracotta — primär accent, knappar */
    --color-accent: #a6c18a; /* matcha/mjuk grön — accent, success */
    --color-warm: #e5b17a; /* ljus varm gul/brun — highlight, badges */
    --color-danger: #d0483e; /* varm röd — fel/varning */
    --glass: rgba(255, 255, 255, 0.6); /* translucent overlay / glass */
}

@font-face {
    font-family: 'Gambarino';
    src: url('/fonts/Gambarino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InstrumentSerif';
    src: url('/fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fancy-font {
    font-family: 'InstrumentSerif', sans-serif;
}

body {
    background: var(--color-primary-bg);
    font-family: Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
